$tabbar-background-gradient: null !default;
$tabbar-strip-height: 4px !default;
$tabbar-border-width: 0 !default;
$tabbar-strip-border-width: 0 0 !default;
$tabbar-strip-plain-border-width: $tabbar-strip-border-width !default;
$tabbar-strip-border-width: 0 !default;

$tabbar-scroller-width: 24px !default;
$tabbar-scroller-opacity: .5 !default;
$tabbar-scroller-opacity-over: .6 !default;
$tabbar-scroller-opacity-pressed: .7 !default;
$tabbar-scroller-opacity-disabled: .25 !default;
$tabbar-scroller-include-hover-background-position: false !default;
$tabbar-scroller-include-plain-icon: true !default;