$tab-base-color: mix(#fff, $base-highlight-color, 10%) !default;
$tab-base-color-over: mix(#fff, $base-highlight-color, 20%) !default;
$tab-base-color-active: $base-light-color !default;

$tab-color: #fff !default;
$tab-color-active: #434343 !default;

$tab-background-gradient: null !default;
$tab-background-gradient-over: null !default;
$tab-background-gradient-active: null !default;
$tab-background-gradient-disabled: null !default;

$tab-border-radius: 0px 0px 0 0 !default;
$tab-border-width: 0 !default;
$tab-inner-border-width: 0 !default;

$tab-padding: 8px 12px 7px !default;

$tab-line-height: 16px !default;
$tab-margin: 0 1px 0 0 !default;

$tab-icon-width: 16px !default;
$tab-icon-height: 16px !default;
$tab-icon-spacing: 6px !default;

$tab-text-opacity-disabled: .3 !default;
$tab-closable-icon-width: 12px !default;
$tab-closable-icon-height: 12px !default;
$tab-closable-icon-include-hover-background-position: true !default;
$tab-closable-icon-include-pressed-background-position: true !default;
$tab-closable-icon-opacity-disabled: $tab-text-opacity-disabled !default;
