$btn-group-header-background-color: $panel-light-header-background-color !default;
$btn-group-border-color: $btn-group-header-background-color !default;
$btn-group-border-width: 1px !default;
$btn-group-framed-border-width: 3px !default;
$btn-group-framed-border-radius: 0px !default;
$btn-group-header-color: $panel-light-header-color !default;
$btn-group-header-font-size: $panel-light-header-font-size !default;
$btn-group-header-font-weight: normal !default;
$btn-group-header-font-family: $panel-light-header-font-family !default;
$btn-group-header-color: $panel-light-header-color !default;
$btn-group-border-spacing: 5px !default;
$btn-group-tool-background-image: 'tools/tool-sprites-dark' !default;
