$loadmask-opacity: 0.7 !default;
$loadmask-background-color: #fff !default;
$loadmask-msg-padding: 8px !default;
$loadmask-msg-background-color: #e5e5e5 !default;
$loadmask-msg-inner-icon-position: center 0 !default;
$loadmask-msg-inner-color: #666 !default;
$loadmask-msg-inner-background-color: transparent !default;
$loadmask-msg-inner-padding: 0 !default;
$loadmask-msg-text-padding: 21px 0 0 !default;
$loadmask-msg-border-width: 0 !default;
$loadmask-msg-inner-border-width: 0 !default;
$loadmask-msg-border-radius: 0px !default;
